<h1>Live roosters</h1>

<table>
  <thead>
    <tr>
      <th>Item Id</th>
      <th>Name</th>
      <th>No. of orders</th>
      <th>Time Left</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roosters.each do |rooster| %>
      <tr>
        <td><%= rooster.item_id %></td>
        <td><%= @item_name_hash[rooster.item_id] rescue 'NA' %></td>
        <td><%= rooster.number_of_orders %></td>
        <td><%= rooster.ttl %></td>
        <td><%= link_to 'Show', rooster %></td>
        <td><%= link_to 'Edit', edit_rooster_path(rooster) %></td>
        <td><%= link_to 'Destroy', rooster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rooster', new_rooster_path %>
